:root {
  /* Dracula theme */
  --background: #282a36;
  --current-line: #44475a;
  --selection: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;

  --cyan: #8be9fd;

  --green: #50fa7b;
  --green-dark: #00e676;
  --green-darker: #00d45a;

  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;

  --red: #ff5555;
  --red-dark: #ff0000;
  --red-darker: #d70000;

  --yellow: #f1fa8c;
  --yellow-dark: #e6e600;
  --yellow-darker: #b3b300;

}
